
.form-body {
    width: 600px;
    border-right: 1px solid #eeeeee;
}

.upload-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.croppie-container {
    display: none;
}

.croppie-container.ready {
    display: block !important;
}

.profile-pic {
    width: 300px;
    padding: 16px;
}

.profile-list {
    width: 400px;
    padding: 0 16px;
}

.issues {
    font-size: small;
    color: darkred;
    margin-top: 1em;
}

.card {
    display: table;
    margin: 16px auto;
    border: 1px solid #ececec;
    border-radius: 16px;
    box-shadow: 0 10px 20px #e6e6e6;
    padding: 12px 28px;
    background: white;
}

.body-wrap {
    width: 100%;
 }

body {
    background: #fbfbfb;
    font-family: 'Source Sans Pro', sans-serif;
}

label {
    width: 60px;
    display: inline-block;
    font-size: smaller;
    font-weight: bold;
}

li {
    height: 1.5em;
}
